<% provide(:title, 'Главная') %>
<div class="center hero-unit">

  <h3>Когда и куда?</h3>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>


<% if signed_in? && current_user.admin? %>
<div class="form-inline">
<%= radio_button_tag(:transport, "gazel", options = {checked: true}, remote: true) %>
<%= label_tag(:transport_gazel, '"Газель"') %>&nbsp;
<%= radio_button_tag(:transport, "mercedes", remote: true) %>
<%= label_tag(:transport_mercedes, 'микроавтобус "Mercedes"') %>&nbsp;
<%= radio_button_tag(:transport, "hyundai", remote: true) %>
<%= label_tag(:transport_hyundai, 'автобус "Hyundai"') %>
</div>
<% end %>


<div id="partial-area"></div>


  <%= link_to "Стать пассажиром!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>