<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @user.name %> <%= @user.lastname %></h1>
			<h5><%= @user.phone %></h5>
			<h5><%= @user.settlement %></h5>
		</section>
	</aside>
</div>