<% provide(:transport_name, 'автобус "Hyundai"') %>
<div class="table table-hover table-bordered">
<table>
  <thead>
    <tr>
      <th>Место</th>
      <th>Пассажир</th>
      <th>Откуда</th>
      <th>Дата бронирования</th>
    </tr>   
  </thead>
  <tbody>
    <tr>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>